*{
    padding:1em
}

h2{
    border-width: 4.2em;
    border-style: dashed;
    background-color: #8b3029;
    text-align: center;
    font-size: 1.5em;
    font-weight: 550;
    border-color: #444;
    color: whitesmoke
}

h3{
    background-color: #8b3029;
    color:whitesmoke;
    margin:auto;
    width: 56em;
    margin-right: 90em;
}

button{
    margin-left: 1em;
    margin-top:0.5em;
    background-color: #8b3029;
    color: whitesmoke
}

button:hover{
    cursor:pointer;
    background-color:#DDD;
    color: #607D8B;
}