<h1>{{ title }}</h1>
<nav>
  <a routerLink="/Home">Home</a>
  <a routerLink="/Ianverse">Ianverse</a>
  <a routerLink="/Danganronpa">Danganronpa</a>
  <a routerLink="/MagicTypes">Magic Types</a>
  <a routerLink="/IanverseWorld">Ianverse World</a>
  <a id="newCharacter" routerLink="/SubmitNewCharacter"
    >Submit New Character [WIP]</a
  >
</nav>
<!-- <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle Dropdown</button>
    <div ngbDropdownMenu aria-labelledby="dropdowBasic1">
        <button ngbDropdownItem>Action - 1</button>
    </div> -->

<router-outlet></router-outlet>
