<h1>Welcome to Robin's Character Database</h1>

<label>What do I need to know about the Ianverse?</label>
<div id="WhatAboutIanverse">
  <h3>
    The Ianverse is a fictional universe created by me and named after the
    character of mine who started it all. (Ian Gallant)
  </h3>
  <h3>
    It was created for the purpose of having a world that combines everything
    instead of having everything highly restricted to certain times or genres.
  </h3>
  <h3>
    So from Science Fiction and Current Times all the way to fantasy worlds and
    western times mixed with old Japanese ones. Everything is at one place here.
  </h3>
  <h3>
    The Ianverse also offers a great basic magic system with a lot of creativity
    available to it while also keeping it's own balancing in as well.
  </h3>
  <h3>
    So no need to be shy! Click through the character examples, look up the
    guide to magic on the right and the magic types belonging to it.
  </h3>
  <h2>Create your character today!</h2>
</div>

<label id="MagicWhat">So what about magic?</label>
<div id="WhatAboutMagic">
  <h3>
    Magic is created by the use of mana. Something each being posseses in the
    Ianverse.
  </h3>
  <h3>
    Mana is embedded in the DNA and can be rewritten to fit a specific magic
    type after using a spell of that sort for the first time.
  </h3>
  <h3>
    The amount of different magic types one can learn is decided by their magic
    affinity, which is completely randomly assigned by birth and can reach from
    one up to four different ones.
  </h3>
  <h3>There are two general big types of magic in the Ianverse:</h3>
  <div id="ImmortalMagic">
    <h3>Immortal Magic:</h3>
    <h4>Magic inherited by Demon Families or Gods</h4>
    <h4>
      They have special Mana to themselves which lead to very specific abilities
    </h4>
    <h4>
      Cannot be transfered to anybody else and is unqiue for every Demon/God
    </h4>
  </div>
  <div id="MortalMagic">
    <h3>Mortal Magic:</h3>
    <h4>Magic available from birth to creatures of HumanRealm</h4>
    <h4>Magic types can be freely combined with eachother</h4>
    <h4>Mana can only be inscribed once</h4>
  </div>
</div>
