h1 {
  margin-top: 1.5em;
  margin-left: 14em;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-width: 0.5em;
}

#WhatAboutIanverse {
  background-color: #8b3029;
  padding: 2em;
  width: 65em;
}

h2 {
  color: sandybrown;
}

h3 {
  color: whitesmoke;
}

label {
  background-color: darkred;
  width: 32.5em;
  font-size: 2em;
  color: sandybrown;
  padding: 0.7em;
  margin-top: 3em;
}

#MagicWhat {
  float: right;
  margin-top: -18em;
}

#WhatAboutMagic {
  float: right;
  margin-top: -31em;
  margin-right: 0.1em;
  background-color: #8b3029;
  padding: 2em;
  width: 65em;
  height: 31em;
}

#MortalMagic {
  margin-left: 38em;
  margin-top: -11.5em;
}

h4 {
  color: lightblue;
  width: 35em;
  height: 1.8em;
  font-size: 0.9em;
}
