h2{
    padding: 1em;
    margin: 0 0 0 0em
  }
  
  .ultimateStuds {
    margin: 0 0 2em 2em;
    list-style-type: none;
    background-color: darkred;
    padding: 1em;
    width: 15em;
  }
  .ultimateStuds li {
    position: relative;
    cursor: pointer;
    background-color: #8b3029;
    margin: 1em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  
  .ultimateStuds li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  .ultimateStuds a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  
  .ultimateStuds a:hover {
    color:#607D8B;
  }
  
  .ultimateStuds .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#905029;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  #WIPField{
    margin-left:50em;
    position: absolute;
    top: 10.3em;
  }
  
  .heroesWIP{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 1em;
    width: 15em;
  }
  
  .heroesWIP li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  
  .heroesWIP li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  .heroesWIP a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  
  .heroesWIP a:hover {
    color:#607D8B;
  }
  
  .heroesWIP .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }