<h2>Finished Danganronpa Characters</h2>
<ul class="ultimateStuds">
  <li *ngFor="let ultimatestud of ultimatestuds">
    <a routerLink="/Dangandetails/{{ ultimatestud.name }}">
      <span class="badge"> {{ ultimatestud.name }}</span>
    </a>
  </li>
</ul>
<div id=WIP>
  <h2>WIP Danganronpa Characters</h2>
  <ul class="ultimateStuds">
    <li *ngFor="let ultimatestudWIP of ultimatestudsWIP">
      <a routerLink="/Dangandetails/{{ultimatestudWIP.name}}">
        <span class="badge">{{ultimatestudWIP.name}}</span>
      </a>
    </li>
  </ul>
</div>

